OPENAI_API_KEY = 'OPENAI_API_KEY'
SERPER_API_KEY = 3f53944ec1b1fb9bb2952629d9eca9ab999657e44678dd670fbb21a33f98c560
OPENAI_ORGANIZATION_ID = 'OPENAI_ORGANIZATION_ID'

INTERPRETER_PATH = "C:\\Users\\willt\\AppData\\Local\\pypoetry\\Cache\\virtualenvs\\trip-planner-LZ-fiUKE-py3.11\\Scripts\\python.exe"